@import url('./../css/common/common.css');
@import url('./../css/common/header.css');
@import url('./../css/common/footer.css');
.homepage_top_bg{
    max-width: 1920px;
    min-width: 1200px;
    background: url("./../img/banner.png") no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    width: 100%;
    height: 400px;
}
.homepage_top{
    width: 1200px;
    height: 400px;
    position: relative;
}
.homepage{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1200px;
    height: 100px;
}
.every_number div{
    float: left;
    width: 1px;
    height: 28px;
    background: #CCCCCC;
    margin-top: 42px;
}
.every_number dl{
    float: left;
    padding: 30px 60px 0 60px;
    text-align: center;
}
.every_number dl dt{
    font-family: PingFang-SC-Semibold;
    font-size: 24px;
    color: #FFFFFF;
}
.every_number dl dd{
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #FFFFFF;
    padding-top: 5px;
}
.btn_group{
    margin-top: 40px;
}
.btn_group div{
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    font-family: PingFangSC-Regular;
    width: 130px;
    font-size: 14px;
}

.edit_data{
    background: #F49818;
    margin-right: 60px;
    color: #FFFFFF;
}
.change_bg{
    border: 1px solid #F49818;
    color: #F49818;
}
.edit_data a{
    color: #FFFFFF;
}
.change_bg a{
    font-size: 14px;
    color: #F49818;
}
.personal_infor{
    width: 1200px;
    margin: 0 auto;
    background: #fff;
}
.personal_pic{
    width: 120px;
    height: 120px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: -60px;
}
.personal_pic label{
    display: block;
    width: 100%;
    height: 100%;
    background: url("./../img/head_file.png") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    top: 0;
}
#change_pic_file{
    display: none;
}
.pic_inner{
    border: solid 1px #fff;    
    border-radius: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.personal_pic img{
    display: block;
    width: 100%;
    height: 100%;
    
}
.personal_name{
    text-align: center;
    font-family: PingFang-SC-Semibold;
    font-size: 24px;
    color: #333333;
    margin-top: -30px;
}
.introduce{
    text-align: center;
    width: 820px;
    margin: 0 auto;
}
.introduce div{
    display: inline;
}
.personal_company{
    padding-right: 10px;
}
.personal_company i{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("./../img/icon_Company.png") no-repeat;
    background-size: 20px 20px;
    position: relative;
    top: 5px;
}
.brief_introduction span,.personal_company span{
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #666666;
    line-height: 20px;
}
.brief_introduction i{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("./../img/icon_introduction.png") no-repeat;
    background-size: 20px 20px;
    position: relative;
    top: 5px;
}
.personal_type{
    text-align: center;
    height: 50px;
    margin-top: 50px;
    line-height: 50px;
    overflow: hidden;
}
.personal_type li{
    display: inline;
    margin: 0 30px;
    border-bottom: solid 4px #fff;
    font-family: PingFangSC-Regular;
    font-size: 18px;
    color: #999999;
    cursor: pointer;
    padding-bottom: 10px;
}
.personal_type li:hover{
    color: #F49818;
    
}
.personal_type li.current{
    border-bottom: solid 4px #F49818;
    color: #F49818;
    font-weight: bolder;
}
.Photographer_profile{
    background: rgba(244,152,24,0.05);
    border: 1px solid #F49818;
    width: 820px;
    margin: 30px auto;
}
.Photographer_profile ul{
    padding: 20px;
}
.Photographer_profile ul li{
    font-family: PingFangSC-Regular;
    line-height: 28px;
}
.Photographer_profile ul li p{
    font-size: 16px;
    color: #2A2A2A;
    float: left;
    width: 80px;
}
.Photographer_profile ul li span{
    display: block;
    float: left;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #666666;
    line-height: 28px;
    width: 698px;
}
.Photographer_profile ul li:after{
    content: "";
    width: 0;
    height: 0;
    display: block;
    clear: both;
    overflow: hidden;
}





.common_tags{
    width: 1200px;
    margin: 20px auto;
    overflow: hidden;
    height: 28px;
    line-height: 28px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #333333;
}
.common_tags p{
    padding-right: 23px;
    float: left;
    
}
.common_tags a{
    border: 1px solid #999999;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 12px;
    color: #999999;
    cursor: pointer;
    float: left;
    margin-right: 15px;
    line-height: 26px;
}
.search_container{
    width: 1200px;
    overflow: hidden;
    margin: 30px auto 30px auto;
}
.search_list{
    width: 1214px;
}

.search_result{
    position: relative;
    height: auto;
}
.search_result li{
    width: 289px;
    position: relative;
    float: left;
    margin: 0 14px 14px 0;
}
.search_result li a,.every_img {
    width: 100%;
}
.every_img img{
    display: block;
    width: 100%;
}
.hover_show{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.60);
    z-index: 99;
    display: none;
}
.search_result li:hover .hover_show{
    display: block;
}
.hover_show h5{
    font-family: PingFang-SC-Semibold;
    font-size: 18px;
    color: #FFFFFF;
    padding: 30px 20px 12px 20px;
    width: 249px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.hover_show p{
    padding-left: 20px;
}
.hover_show span{float: left; font-size: 12px;
    color: #FFFFFF;}
.hover_show .fav{
    display: block;
    height: 16px;
    width:16px;
    background: url('./../img/icon_fav_w.png') no-repeat center;
    background-size: contain;
    float: left;
}
.hover_show .share{
    display: block;
    height: 16px;
    width:16px;
    background: url('./../img/icon_share_w.png') no-repeat center;
    background-size: contain;
    float: left;
}
.hover_show .watch{
    display: block;
    height: 16px;
    width:16px;
    background: url('./../img/icon_watch_w.png') no-repeat center;
    background-size: contain;
    float: left;
}
.hover_show .txt{
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #FFFFFF;
    float: left;
    line-height: 20px;
    padding:0 31px 0 10px;
}
.follow_fans_list{
    width: 1230px;
}
.every_follow_fans{
    width: 390px;
    height: 120px;
    background: #fff;
    margin: 0 15px 15px 0;
}
.fans_header{
    width: 60px;
    height: 60px;
    margin: 30px 0 30px 20px;
    border-radius: 50%;
    overflow: hidden;
}
.fans_header a,.fans_header a img{
    display: block;
    width: 100%;
    height: 100%;
}
.fans_name{
    margin:37px 0 0 10px;
}
.fans_name h3{
    font-family: PingFang-SC-Semibold;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    
}
.fans_name h3 a{
    color: #333333;
    display: inline-block;
    max-width: 139px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    
}
.fans_name h3 span{
    display: inline-block;
    width: 21px;
    height: 24px;
    padding-left: 5px;
}
.fans_name h3 span img{
    display: block;
    width: 100%;
    height: 100%;
}
.fans_name p{
    font-family: PingFangSC-Regular;
    font-size: 14px;
    line-height: 22px;
}
.fans_name p a{
    color: #666666;
}
.follow_btn{
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 40px 20px 40px 0;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}
.concern{
    color: #999999;
    border: 1px solid #999999;
    background: #fff;
}
.cancle_follow{
    background: #F2F2F2;
    border: 1px solid #999999;
    color: #999999;
}
.join_follow{
    border: 1px solid #F49818;
    background: #fff;
    color: #F49818;
}