@import url('./../css/common/common.css');
body,.login_wrapper{
    max-width: 1920px;
    min-width: 1200px;
    background: url("./../img/bg.png") no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.login_wrapper img{
    display: block;
    width: 100%;
    height: 100%;
}
.login_container{
    width: 452px;
    height: 484px;
    background: rgba(255, 255, 255, 0.85);
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -242px 0 0 -226px;
}
.oil_logo{
    margin: 70px auto 50px auto;
    width: 322px;
    height: 50px;
}
.oil_logo img{
    display: block;
    width: 100%;
    height: 100%;
}
.login_container ul{
    width: 312px;
    margin: 0 auto;
}
.login_container li{
    /* margin-bottom: 15px; */
}
.login_container li input{
    display: block;
    width: 310px;
    height: 34px;
    line-height: 34px;
    border: 1px solid #cccccc;
    outline: #cccccc;
    border-radius: 4px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #333333;
    text-indent: 15px;
    background: none;
    margin-bottom: 15px;
}
.login_container li input:focus{
    outline: #F83F3F;
    border: 1px solid #F83F3F;
}
.login_container li input.pwd{
    margin-bottom: 10px;
}
.login_container li input.check{
    float: left;
    width: 14px;
    height: 14px;
    margin-bottom: 0;
    margin-top: 3px;
}
.rember_pwd{
    float: left;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #666666;
    line-height: 20px;
    padding-left: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}
.login_container li a{
    float: right;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #3280A9;
    line-height: 20px;
}
.login_container li:after{
    content:"";
    display: block;    
    width: 0;
    height: 0;
    overflow: hidden;
    clear: both;
    zoom: 1;
}
.error_prompt{
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #F83F3F;
    height: 17px;
    line-height: 17px;
}
.login_btn{
    background: #F49818;
    border-radius: 4px;
    width: 312px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    margin: 50px auto 0 auto;
}