@import url('./../css/common/common.css');
@import url('./../css/common/header.css');
@import url('./../css/common/footer.css');
.result_list {
    width: 1200px;
    margin: 0 auto;
}

.result_list h5 {
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #666666;
    padding: 40px 0 30px 0px;
    font-weight: normal;
}

.every_result {
    width: 1200px;
    height: 250px;
    margin: 0px auto 14px auto;
    background: #fff;
}

.head_img {
    width: 80px;
    height: 80px;
    margin: 30px 20px 0 30px;
    display: inline;
    border-radius: 50%;
    overflow: hidden;
}

.head_img a img,
.head_img img {
    display: block;
    width: 100%;
    height: 100%;
}

.character_introduction {
    width: 480px;
}

.character_introduction h3 {
    padding-top: 43px;
    font-family: PingFang-SC-Semibold;
    font-size: 24px;
    color: #333333;
}

.character_introduction h3 a {
    font-size: 24px;
    color: #333333;
}

.character_introduction h3 span {
    display: inline-block;
    width: 21px;
    height: 24px;
    padding-left: 5px;
    vertical-align: middle;
}

.character_introduction h3 span img {
    display: block;
    width: 100%;
    height: 100%;
}
.character_introduction p {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #666666;
    line-height: 30px;
    width:480px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.shared{
    background: url("./../img/icon_share_y.png") no-repeat 25px center;
    background-size: 20px 20px;
}


.character_introduction ul {
    height: 22px;
    margin-top: 17px;
}

.character_introduction ul li {
    font-size: 16px;
    color: #333333;
    line-height: 22px;
    padding-right: 15px;
    margin-right: 15px;
}
.character_introduction ul li.works{
    border-right: solid 1px #999999; 
}
.character_introduction ul li span {
    padding-left: 3px;
    font-weight: bold;
}

.btn_groups {
    height: 40px;
    margin-top: 33px;
}

.btn_groups div {
    width: 130px;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    text-align: center;
}

.send_email {
    background: #F49818;
}

.send_email a {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #FFFFFF;
}

.attention {
    border: 1px solid #F49818;
    border-radius: 4px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #F49818;
    margin-left: 30px;
    cursor: pointer;
}

.pic_groups {
    float: right;
}

.pic_groups ul {
    margin: 30px 30px 30px 0;
    height: 190px;
}

.pic_groups li {
    float: left;
    width: 252px;
    height: 189px;
    margin-left: 14px;
}

.pic_groups li a,
.pic_groups li a img {
    display: block;
    width: 100%;
    height: 100%;
}