@import url('./../css/common/common.css');
@import url('./../css/common/header.css');
@import url('./../css/common/footer.css');
.votedetail_herder{
    max-width: 1920px;
    min-width: 1200px;
    background: #fff;
    margin: 0 auto;
    width: 100%;
    border-top: solid 2px #F49818;
    padding-bottom: 35px;
}
.votedetail_herder h3{
    font-family: PingFang-SC-Semibold;
    font-size: 28px;
    color: #333333;
    font-weight: bold;
    padding-top: 40px;
    width: 1200px;
    margin: 0 auto;
}
.votedetail_number{
    width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    overflow: hidden;
}
.votedetail_number ul{
    width: 1245px;height: 111px;
}
.votedetail_number ul li{
    width: 390px;
    height: 111px;
    text-align: center;
    line-height: 111px;
    border-radius: 4px;
    float: left;
    margin-right: 15px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #FFFFFF;
}
.votedetail_number ul li span{
    font-size: 24px;
    position: relative;
    top: 4px;
    padding-left: 5px;
}
.access_times{
    background: #D76AA3;
}
.participant{
    background: #65B2C3;
}
.total_vote{
    background: #7972BD;
}
.votedetail_rule{
    width: 1200px;
    margin: 30px auto 0 auto;
}
.votedetail_rule li{
    padding-bottom: 5px;
}
.votedetail_rule li div{
    float: left;
    font-family: PingFang-SC-Semibold;
    font-size: 16px;
    color: #333333;
    line-height: 28px;
    font-weight: bold;
}
.votedetail_rule li p{
    float: left;
    width: 1120px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #666666;
    line-height: 28px;
}
.votedetail_rule li p span{
    display: block;
}
.votedetail_rule li:after{
    content:"";
    display: block;    
    width: 0;
    height: 0;
    overflow: hidden;
    clear: both;
    zoom: 1;
}
.votedetail_list{
    width: 1200px;
    margin: 40px auto 0 auto;
}
.votedetail_search{
    width: 1065px;
    height: 70px;
    margin:0 auto;
    
    overflow: hidden;
    
}
.votedetail_search .votedetail_input{
    display: block;
    line-height: 68px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #999999;
    padding-left: 30px;
    width: 945px;
    background: #FFFFFF;
    outline: none;
    border: 1px solid #CCCCCC;
    border-right: none;
    border-radius: 4px 0 0 4px;
}
.votedetail_search_btn{
    width: 89px;
    height: 70px;
    cursor: pointer;
    background: #F49818 url("./../img/icon_search_w.png") no-repeat center center;
    background-size: 29px 30px;
    border-radius: 0 4px 4px 0;
}
.votedetail_list_container{
    margin-top: 43px;
    width: 1212px;
}
.votedetail_list_container li{
    float: left;
    width: 289px;
    background: #ffffff;
    margin: 0 14px 14px 0;
}
.votedetail_list_container li:after{
    content:"";
    display: block;    
    width: 0;
    height: 0;
    overflow: hidden;
    clear: both;
    zoom: 1;
}
.votedetail_pic{
    width: 289px;
    height: 216px;
    position: relative;
}
.votedetail_pic img{
    display: block;
    width: 100%;
    height: 100%;
}
.votedetail_num{
    position: absolute;
    top: 0;
    left: 0;
    width: 65px;
    height: 50px;
    background: url("./../img/icon_num.png") no-repeat;
    background-size: 100% 100%;
    text-align: center;
    line-height: 50px;
    text-align: center;
    font-family: PingFang-SC-Semibold;
    font-size: 16px;
    color: #F49818;
}
.votedetail_name{
    margin: 20px 15px 0px 15px;
    font-family: PingFang-SC-Semibold;
    font-size: 18px;
    color: #333333;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    font-weight: bold;
}
.photographers_name{
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #333333;
    margin: 20px 15px 0 15px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.photographers_name a,.votedetail_name a{
    color: #333333;
}
.votedetail_group{
    height: 40px;
    margin: 20px 15px;
}
.votedetail_btn{
    width: 130px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #F49818;
    border-radius: 4px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
}
.votedetail_btn.gray{
    background: #CCCCCC;
    border-radius: 4px;
    cursor: not-allowed; 
}
.vote_numbers{
    font-family: PingFang-SC-Semibold;
    font-size: 24px;
    color: #F49818;
    font-weight: bold;
    width: 112px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}
.vote_numbers span{
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #151515;
    line-height: 33px;
    font-weight: normal;
}